name: Auto Approve

on:
  pull_request

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    name: Auto Approve Dependabot
    steps:
    - uses: hmarr/auto-approve-action@v2.0.0
      if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
